.hm-block {
  max-width: 1024px;
  
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;

  padding: 16px;

  border-radius: 16px;

  transition: box-shadow 0.3s;

  &:hover {
    @media (min-width: 1032px) {
      box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75); 
    }
  }
}